* {
    margin: 0;
    padding: 0;
}

html,
body,
#app {
    /*background: #F3F3F5;*/
    height: 100%;
    width: 100%;
}

.taskManage {
    width: 96%;
    margin-left: 1%;
    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 2px 10px #F2F2F2;
}

.el-input__inner {
    height: 38px;
}

.el-table th {
    white-space: nowrap;
    overflow: hidden;
    background-color: #eef1f6;
    text-align: left;
}

.el-table--border td,
.el-table--border th {
    border-right: 1px solid #dfe6ec;
}

.el-table__footer-wrapper thead div,
.el-table__header-wrapper thead div {
    background-color: #eef1f6;
    color: #1f2d3d;
}

.el-table td {
    padding: 3px 0;
}

.el-table th {
    padding: 7px 0;
}

.el-table th>.cell {
    text-align: center
}
.flexcenter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	/* 水平居中*/
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-pack: center;
	/* IE 10 */
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
	/* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
	/* 垂直居中 */
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-align: center;
	/* IE 10 */
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

/*@font-face {
  font-family: 'iconfont'; 
  src: url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.eot');
  src: url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.woff') format('woff'),
  url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.svg#iconfont') format('svg');
}*/

@font-face {
    font-family: 'iconfont';
    /* project id 540466 */
    src: url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.eot');
    src: url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.woff') format('woff'), url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.ttf') format('truetype'), url('//at.alicdn.com/t/font_540466_jyjw2gqgpfsqncdi.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 22px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dazhong-:before {
    content: "\e604";
}

.icon-dazhong-1:before {
    content: "\e605";
}

.icon-dazhong-2:before {
    content: "\e606";
}

.icon-dazhong-3:before {
    content: "\e607";
}

.icon-dazhong-4:before {
    content: "\e608";
}

.icon-dazhong-5:before {
    content: "\e609";
}

.icon-dazhong-6:before {
    content: "\e60a";
}

.icon-dazhong-7:before {
    content: "\e60b";
}

.icon-dazhong-8:before {
    content: "\e60c";
}

.icon-dazhong-9:before {
    content: "\e60d";
}

.icon-dazhong-10:before {
    content: "\e60e";
}

.icon-dazhong-11:before {
    content: "\e60f";
}

.icon-dazhong-12:before {
    content: "\e610";
}

.icon-dazhong-13:before {
    content: "\e611";
}

.icon-dazhong-14:before {
    content: "\e612";
}

.icon-dazhong-15:before {
    content: "\e613";
}

.icon-dazhong-16:before {
    content: "\e614";
}

.icon-dazhong-17:before {
    content: "\e615";
}

.icon-dazhong-18:before {
    content: "\e616";
}

.icon-dazhong-19:before {
    content: "\e617";
}

.icon-dazhong-20:before {
    content: "\e618";
}

.icon-dazhong-21:before {
    content: "\e619";
}

.icon-dazhong-22:before {
    content: "\e61a";
}

.icon-dazhong-23:before {
    content: "\e61b";
}

.icon-dazhong-24:before {
    content: "\e61c";
}

.icon-dazhong-25:before {
    content: "\e61d";
}

.icon-dazhong-26:before {
    content: "\e61e";
}

.icon-dazhong-27:before {
    content: "\e61f";
}

.icon-dazhong-28:before {
    content: "\e620";
}

.icon-dazhong-29:before {
    content: "\e621";
}

.icon-dazhong-30:before {
    content: "\e622";
}

.icon-dazhong-31:before {
    content: "\e623";
}

.icon-dazhong-32:before {
    content: "\e624";
}

.icon-dazhong-33:before {
    content: "\e625";
}

.icon-dazhong-34:before {
    content: "\e626";
}

.icon-dazhong--:before {
    content: "\e627";
}

.icon-dazhong-35:before {
    content: "\e628";
}